@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(22.86% 0.028 255.21);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(22.86% 0.028 255.21);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(22.86% 0.028 255.21);
  --color-primary: oklch(45.1% 0.15 255.21);
  --color-primary-foreground: oklch(98.11% 0.011 255.21);
  --color-secondary: oklch(96.13% 0.011 255.21);
  --color-secondary-foreground: oklch(45.1% 0.15 255.21);
  --color-muted: oklch(96.13% 0.011 255.21);
  --color-muted-foreground: oklch(65.69% 0.018 255.21);
  --color-accent: oklch(96.13% 0.011 255.21);
  --color-accent-foreground: oklch(45.1% 0.15 255.21);
  --color-destructive: oklch(69.29% 0.222 19.83);
  --color-destructive-foreground: oklch(98.11% 0.011 255.21);
  --color-border: oklch(92.17% 0.022 255.21);
  --color-input: oklch(92.17% 0.022 255.21);
  --color-ring: oklch(22.86% 0.028 255.21);
  --radius: 0.5rem;

  --dark-color-background: oklch(22.86% 0.028 255.21);
  --dark-color-foreground: oklch(98.11% 0.011 255.21);
  --dark-color-card: oklch(22.86% 0.028 255.21);
  --dark-color-card-foreground: oklch(98.11% 0.011 255.21);
  --dark-color-popover: oklch(22.86% 0.028 255.21);
  --dark-color-popover-foreground: oklch(98.11% 0.011 255.21);
  --dark-color-primary: oklch(98.11% 0.011 255.21);
  --dark-color-primary-foreground: oklch(45.1% 0.15 255.21);
  --dark-color-secondary: oklch(34.51% 0.033 255.21);
  --dark-color-secondary-foreground: oklch(98.11% 0.011 255.21);
  --dark-color-muted: oklch(34.51% 0.033 255.21);
  --dark-color-muted-foreground: oklch(77.14% 0.021 255.21);
  --dark-color-accent: oklch(34.51% 0.033 255.21);
  --dark-color-accent-foreground: oklch(98.11% 0.011 255.21);
  --dark-color-destructive: oklch(56.97% 0.221 19.83);
  --dark-color-destructive-foreground: oklch(98.11% 0.011 255.21);
  --dark-color-border: oklch(34.51% 0.033 255.21);
  --dark-color-input: oklch(34.51% 0.033 255.21);
  --dark-color-ring: oklch(77.14% 0.021 255.21);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.perspective-1000 {
  perspective: 1000px;
}

.rotate-y-\[-15deg\] {
  transform: rotateY(-15deg);
}

.rotate-y-\[-30deg\] {
  transform: rotateY(-30deg);
}

.rotate-y-\[15deg\] {
  transform: rotateY(15deg);
}

.rotate-y-\[30deg\] {
  transform: rotateY(30deg);
}

.transform-gpu {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
